{% extends 'base.html.twig' %}
{% block title %}Profile
{% endblock %}
{% block body %}
	<!DOCTYPE html>
	<html lang="zxx">
		<body>
			<!-- Breadcrumb Section Begin -->
			<section class="breadcrumb-section spad set-bg" data-setbg="img/breadcrumb-contact-bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="breadcrumb-text">
								<h4>Profile</h4>
								<div class="bt-option">
									<a href="{{path('app_accueil')}}">
										<i class="fa fa-home"></i>
										Accueil</a>
									<span>Profile</span>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<center class="m-t-30">
										{% if app.user.image %}
											<img src=" {{ vich_uploader_asset(app.user,'imageFile') | imagine_filter('profil_thumb') }} " class="rounded-circle" width="200" alt=" Photo de Profil " style=" height: 200px;">
										{% else %}
											Aucune photo de profil
										{% endif %}
										<h4 class="card-title m-t-10">{{app.user.nom}}</h4>
										<h6 class="card-subtitle">{{app.user.prenom}}</h6>
									</center>
								</div>
								<div>
									<hr>
								</div>
								<div class="card-body">
									<small class="text-muted">Adresse email
									</small>
									<h6>{{app.user.email}}</h6>
									<small class="text-muted p-t-30 db">Telephone</small>
									<h6>{{app.user.numeroTelephone}}</h6>
									<small class="text-muted p-t-30 db">Addresse</small>
									<h6>{{app.user.adresse}}</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Breadcrumb Section End -->
			{% if not form.vars.valid %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					Erreur au niveau du formulaire
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}
			{% include "pages/profile/_form.html.twig" %}
			<!-- Contact Section Begin -->
			<section class="contact-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="contact-info">
								<div class="ci-item">
									<div class="ci-icon">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="ci-text">
										<h5>Address</h5>
										<p>160 Pennsylvania Ave NW, Washington, Castle, PA 16101-5161</p>
									</div>
								</div>
								<div class="ci-item">
									<div class="ci-icon">
										<i class="fa fa-mobile"></i>
									</div>
									<div class="ci-text">
										<h5>Phone</h5>
										<ul>
											<li>125-711-811</li>
											<li>125-668-886</li>
										</ul>
									</div>
								</div>
								<div class="ci-item">
									<div class="ci-icon">
										<i class="fa fa-headphones"></i>
									</div>
									<div class="ci-text">
										<h5>Support</h5>
										<p>Support.aler@gmail.com</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cs-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd" height="450" style="border:0;" allowfullscreen=""></iframe>
				</div>
			</section>
			<!-- Contact Section End -->
		</body>
	</html>
{% endblock %}
