<!-- Property Section Begin -->
<section class="property-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h4>Nos Biens</h4>
				</div>
			</div>
		</div>
		<div class="row">
			{% for bien in biens %}
				<div class="col-lg-4 col-md-6">
					<a href="{{path('bien_show',{id:bien.id})}}">
						<div class="property-item">

							<div class="pi-pic set-bg" {% if bien.image %} data-setbg="{{ vich_uploader_asset(bien,'imageFile') | imagine_filter('my_thumb') }}" alt="imgcache" style=" width: 90%; height: 200px;">

							{% endif %}

							{% if bien.statusBien==1 %}
								<div class="label c-red">En vente</div>
							{% else %}
								<div class="label">
									En Location
								</div>

							{% endif %}
						</div>
					</a>
					<div class="pi-text">
						{% if app.user %}
							{% for favoris in bien.favoris %}
								{% if favoris.id==app.user.id %}
									<a href="{{ path('retirer_favoris', {id: bien.id})}}" class="heart-icon">
										<i class="fas fa-heart"></i>
									</a>
								{% else %}
									<a href="{{ path('ajout_favoris', {id: bien.id})}}" class="heart-icon">
										<i class="far fa-heart"></i>
									</a>
								{% endif %}
							{% else %}
								<a href="{{ path('ajout_favoris', {id: bien.id})}}" class="heart-icon">
									<i class="far fa-heart"></i>
								</a>
							{% endfor %}
						{% endif %}
						<div class="pt-price">{{bien.prix}}£<span>
								{% if bien.statusBien==0 %}/mois
								{% endif %}
							</span>
						</div>
						<h5>
							<a href="{{path('bien_show',{id:bien.id})}}">{{bien.titre}}</a>
						</h5>
						<p>
							<span class="icon_pin_alt"></span>
							{{bien.localisation}}</p>
						<ul>
							<li>
								<i class="fa fa-object-group"></i>
								{{bien.surface}}
							</li>
						</ul>
						<div class="pi-agent">
							<div class="pa-item">
								<div class="pa-info">
									<img src="{{asset('img/property/posted-by/pb-1.jpg')}}" alt="">
									<h6>Ashton Kutcher</h6>
								</div>
								<div class="pa-text">
									123-455-688
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
	<!-- Property Section End -->
</body></section>
