{% extends 'admin/base.html.twig' %}
{% block title %}Tableau de board
{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta
			http-equiv="X-UA-Compatible" content="IE=edge">
			<!-- Tell the browser to be responsive to screen width -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">
		</head>
		<body>
			<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
				<div class="page-wrapper">
					<div class="page-breadcrumb">
						<div class="row align-items-center">
							<div class="col-5">
								<h4 class="page-title">Tableau de board</h4>
								<div class="d-flex align-items-center">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item">
												<a href="#">Accueil</a>
											</li>
											<li class="breadcrumb-item active" aria-current="page"></li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="container-fluid px-4">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active">Statistiques de la Société SAFER</li>
								</ol>
								<div class="row">
									<div class="col-xl-3 col-md-6">
										<div class="card bg-primary text-white mb-4">
											<div class="card-body">Nombre total de biens
												{{nbreBiens}}</div>
											<div class="card-footer d-flex align-items-center justify-content-between">
												<a class="small text-white stretched-link" href="{{path('admin_bien_index')}}">Voir Details</a>
												<div class="small text-white">
													<i class="fas fa-angle-right"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6">
										<div class="card bg-success text-white mb-4">
											<div class="card-body">Bien en favoris
												{{nbreBienEnFavoris}}</div>
											<div class="card-footer d-flex align-items-center justify-content-between">
												<a class="small text-white stretched-link" href="#">Voir Details</a>
												<div class="small text-white">
													<i class="fas fa-angle-right"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6">
										<div class="card bg-danger text-white mb-4">
											<div class="card-body">Bien non en favoris
												{{nbreBienNonFavoris}}</div>
											<div class="card-footer d-flex align-items-center justify-content-between">
												<a class="small text-white stretched-link" href="#">Voir Details</a>
												<div class="small text-white">
													<i class="fas fa-angle-right"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6">

										<div class="card bg-warning text-white mb-4">
											<div class="card-body">Nombres d'utilisateurs
												{{nbreUsers}}</div>
											<div class="card-footer d-flex align-items-center justify-content-between">
												<a class="small text-white stretched-link" href="{{path('admin_users')}}}">Voir Details</a>
												<div class="small text-white">
													<i class="fas fa-angle-right"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container-fluid px-4">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active">Nombres de biens par categories</li>
								</ol>
								<div class="row">
									{% for categorie in categories %}
										{% set nbbien = 0 %}
										{% for bien in categorie.biens %}
											{% set nbbien =nbbien + 1 %}
										{% endfor %}
										<div class="col-xl-3 col-md-6">
											<div class="card bg-primary text-white mb-4">
												<div class="card-body">{{categorie.designation}}
													{{nbbien}}
													biens</div>
												<div class="card-footer d-flex align-items-center justify-content-between">
													<a class="small text-white stretched-link" href="{{path('categorie_show',{id:categorie.id})}}">Voir Details</a>
													<div class="small text-white">
														<i class="fas fa-angle-right"></i>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>
{% endblock %}
