<!-- Footer Section Begin -->
<footer class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="fs-about">
					<div class="fs-logo">
						<a href="#">
							<img src="{{asset('img/SAFER.png')}}" alt="">
						</a>
					</div>
					<p>La Société d'Aménagement Foncier et d'Etablissement Rural.
					</p>
				</p>
				<div class="fs-social">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fa fa-youtube-play"></i>
					</a>
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="#">
						<i class="fa fa-pinterest-p"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-sm-6">
			<div class="fs-widget">
				<h5>Aide</h5>
				<ul>
					<li><a href="#">Politique de confidentialité</a></li>
					<li><a href="#">Contacter l'assistance</a></li>
					<li><a href="#">Base de connaissances</a></li>
					<li><a href="#">Carrières</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-2 col-sm-6">
			<div class="fs-widget">
				<h5>Liens</h5>
				<ul>
					<li><ahref="{{path('app_contact')}}">Contact</a></li>
					<li><ahref="{{path('bien_index')}}">Mes biens</a></li>
					<li><ahref="{{path('app_porteur_register')}}">S'inscrire</a></li>
					<li><ahref="{{path('app_login')}}">Login</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="fs-widget">
				<h5>Newsletter</h5>
				<p>Incrivez vous à la Newsletter</p>
				<form action="#" class="subscribe-form">
					<input type="text" placeholder="Email">
					<button type="submit" class="site-btn">Souscrire</button>
				</form>
			</div>
		</div>
	</div>
	<div class="copyright-text">
		<p>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			Copyright &copy;<script>
				document.write(new Date().getFullYear());
			</script>
			All rights reserved | This template is made with
			<i class="fa fa-heart" aria-hidden="true"></i>
			by
			<a href="https://colorlib.com" target="_blank">Colorlib</a>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>
	</div>
</div></footer><!-- Footer Section End --><!-- Js Plugins --><script src="{{asset('js/jquery-3.3.1.min.js')}}"></script><script src="{{asset('js/bootstrap.min.js')}}"></script><script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script><script src="{{asset('js/mixitup.min.js')}}"></script><script src="{{asset('js/jquery-ui.min.js')}}"></script><script src="{{asset('js/jquery.nice-select.min.js')}}"></script><script src="{{asset('js/jquery.slicknav.js')}}"></script><script src="{{asset('js/owl.carousel.min.js')}}"></script><script src="{{asset('js/jquery.richtext.min.js')}}"></script><script src="{{asset('js/image-uploader.min.js')}}"></script><script src="{{asset('js/main.js')}}"></script>
