<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="canvas-close">
		<span class="icon_close"></span>
	</div>

	<div id="mobile-menu-wrap"></div>
	<div class="om-widget">
		<ul>
			<li>
				<i class="icon_mail_alt"></i>
				safer.support@gmail.com</li>
			<li>
				<i class="fa fa-mobile-phone"></i>
				753-181-404
				<span>125-668-886</span>
			</li>
		</ul>
	</div>
	<div class="om-social">
		<a href="#">
			<i class="fa fa-facebook"></i>
		</a>
		<a href="#">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="#">
			<i class="fa fa-youtube-play"></i>
		</a>
		<a href="#">
			<i class="fa fa-instagram"></i>
		</a>
		<a href="#">
			<i class="fa fa-pinterest-p"></i>
		</a>
	</div>
</div>
<!-- Offcanvas Menu Wrapper End -->

<!-- Header Section Begin -->
<header class="header-section">
	<div class="hs-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-1">
					<div class="logo">
						<a href="{{path('app_accueil')}}"><img src="{{asset('img/logo.png')}}" style="" alt=""></a>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="ht-widget">
						<ul>
							<li>
								<i class="icon_mail_alt"></i>
								safer.support@gmail.com</li>
							<li>
								{% if app.user %}
									<i class="fa fa-mobile-phone"></i>

									{{app.user.numeroTelephone}}
									<span>{{app.user.prenom}}
										{{app.user.nom}}</span>
								{% endif %}
							</li>
						</ul>

						{% if app.user%}

							<a href="{{path('app_logout')}}" class="hw-btn">
								<i class="fa fa-power-off m-r-5 m-l-5"></i>
								Déconnexion</a>
						{% else %}
							<a href="{{path('app_login')}}" class="hw-btn">Connexion</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="canvas-open">
				<span class="icon_menu"></span>
			</div>
		</div>
	</div>
	<div class="hs-nav">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<nav class="nav-menu">
						<ul>
							<li class="active">
								<a href="{{path('app_accueil')}}">Accueil</a>
							</li>
							<li>
								<a href="#">Services</a>
								<ul class="dropdown">
									<li>
										<a href="{{path('bien_index')}}">Nos Biens</a>
									</li>
									{% if app.user%}
										<li>
											<a href="{{path('mes_favoris',{id:app.user.id})}}">Mes favoris</a>
										</li>
										<li>
											<a href="{{path('porteur_edit_profile',{id:app.user.id})}}" class="dropdown-item">Profile</a>
										</li>
									{% endif %}
								</ul>
							</li>
							<li>
								<a href="#">Categories</a>
								<ul class="dropdown">
									<li>
										{% for categorie in categories %}
											<a href="{{path('categorie_show',{id:categorie.id})}}">
												{{categorie.designation}}
											</a>
										{% endfor %}
									</li>
								</ul>
							</li>
							<li>
								<a href="./agents.html">Agents</a>
							</li>
							<li>
								<a href="{{path('app_apropos')}}">A propos</a>
							</li>
							<li>
								<a href="./blog.html">Blog</a>
							</li>
							<li>
								<a href="{{path('app_contact')}}">Contact</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="hn-social">
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="#">
							<i class="fa fa-youtube-play"></i>
						</a>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
						<a href="#">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Header End -->
